
header, footer {
    background-color: #000d72;
}
body {
   font-family: 'Roboto' , sans-serif;
   font-size: 16px;
   margin: 50px;
}
h1 {
    font-size:36px;
}

a {
    color:#FF5A5F;
}
button {
    background-color: transparent;
    border-style:none;
}

#logo {
    border-width: 1px;
    border-color: red;
    border-style: dashed, !important;
}
a:link {
    color: blue;
}

span{
    display: block;
}
nav {
    display: flex;
    justify-content: space;
}

.contick {
    display: flex;
    align-items: center;
}
.contick div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.contick dt {
    font-weight: bold; 
    color: rgb(6, 6, 75);
    text-align: center;
}
.tea {
    display: flex;
    align-items: center;
   padding: 5px;
   color: rgb(17, 17, 53);
   font-weight: bolder;
}
.sprite {
    margin-left: 80px;
}